body {padding-top: 172px;}

h2 {
  padding-top: 3rem;
}

h2:first-letter {
  text-transform:capitalize;
}


.App {
  text-align: center;
}

.App .MuiContainer-root {
  max-width: 100%;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App button:focus {
  outline: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.makeStyles-paper-2 {
  color: rgba(37, 106, 87, 0.54);
  padding: 16px;
  font-weight: 600;
  text-align: center;
  background-color: aquamarine;
}

.App .andre-color-0{
  background-color: #ff1744 ;
}
.App .andre-color-1{
  background-color: #f50057 ;
  /* color: floralwhite; */
}
.App .andre-color-2{
  background-color: #d500f9 ;
  /* color: floralwhite; */
}
.App .andre-color-3{
  background-color: #ab87fa ;
  /* color: floralwhite; */
}
.App .andre-color-4{
  background-color: #3d5afe ;
  /* color: floralwhite; */
}
.App .andre-color-5{
  background-color: #2979ff ;
  /* color: floralwhite; */
}
.App .andre-color-6{
  background-color: #00b0ff ;
}
.App .andre-color-7{
  background-color: #00e5ff ;
}
.App .andre-color-8{
  background-color: #1de9b6 ;
}
.App .andre-color-9{
  background-color: #00e676 ;
}
.App .andre-color-10{
  background-color: #76ff03 ;
}
.App .andre-color-11{
  background-color: #c6ff00 ;
}
.App .andre-color-12{
  background-color: #ffea00 ;
}
.App .andre-color-13{
  background-color: #ffc400 ;
}
.App .andre-color-14{
  background-color: #ff9100 ;
}
.App .andre-color-15{
  background-color: #ff3d00 ;
}


.bg-black{
  background-color: #757de8;
}

.bg-black th {
  color: aliceblue;
}

.levelOne.MuiRadio-colorSecondary.Mui-checked{

  color: #31d431;
}

.levelOne.MuiRadio-colorSecondary.Mui-checked .MuiSvgIcon-root {

  font-size: 1.3rem;
}
.levelTwo.MuiRadio-colorSecondary.Mui-checked{

  color: #3154d4;
}
.levelTwo.MuiRadio-colorSecondary.Mui-checked .MuiSvgIcon-root {

  font-size: 1.8rem;
}
.levelThree.MuiRadio-colorSecondary.Mui-checked{

  color:  #ffc107/*c207ff  ffc107*/;
}
.levelThree.MuiRadio-colorSecondary.Mui-checked .MuiSvgIcon-root {

  font-size: 2.4rem;
}


.levelOne.MuiRadio-colorSecondary .MuiSvgIcon-root {

  font-size: 1.3rem;
}
.levelTwo.MuiRadio-colorSecondary .MuiSvgIcon-root {

  font-size: 1.8rem;
}
.levelThree.MuiRadio-colorSecondary .MuiSvgIcon-root {

  font-size: 2.4rem;
}

.MuiRadio-root.MuiIconButton-root {
  color: rgba(0, 0, 0, 0.1);
}

.MuiBox-root.LevelBox {
  padding-left: 20px;
  padding-top: 5px;
}

.MuiDivider-root.Skill {
  margin-top: 31px;
}

.MuiCardMedia-root {
  margin-bottom: 5px;
}

.MuiTooltip-popper.LevelBox{
  font-size: 2rem;
}

.tagIconBox{
  font-size: 1.2em;
}